.featured-employers {
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.featured-employers::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.card {
    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 5rem;
    width: 5rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.25rem;
}