@import "tailwindcss";

:root{
  --color-brand-dark: #333;
  --spacing: .25rem;
    --bodyFontFamily: "Roboto", sans-serif !important;
}
html, body {
  background-color: #F5F5F5 !important;
  font-family: var(--bodyFontFamily) !important;
}
/* Global styles or inside a CSS/SCSS file */
.swiper-pagination-bullet {
  background: #e5e5e5!important;
  opacity: 1!important;
  border-radius: 9999px!important;
  width: 12px!important;
  height: 12px!important;
  margin: 0 4px!important;
  display: inline-block!important;
  transition: all 0.3s ease!important;
}

.swiper-pagination-bullet-active {
  background: orange!important;
  width: 32px!important; /* Longer pill shape */
}

.cart-counter-badge {
    min-width: 20px;
    min-height: 20px;
    padding: 2px;
    border-radius: 20px;
    font-size: 10px;
}
.cart-button {
    padding: 5px 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.header-four .cart-button svg {
    width: 28px;
    height: 28px;
}
.cart-button svg {
    margin: 4px auto;
}

.rc-drawer-section {
    pointer-events: auto;
    background-color: var(--color-white);
    --tw-backdrop-blur: blur(var(--blur-xl));
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    overflow-x: hidden;
}
.rc-drawer {
    inset: 0;
    position: fixed;
    z-index: 1050;
    pointer-events: none;
}
.rc-drawer-left .rc-drawer-content-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
}

.rc-drawer-content-wrapper {
    width: 100% !important;
}

/* ❗ Drawer hidden state: translateX(-100%) means hidden to the LEFT */
.rc-drawer-content-wrapper {
  position: absolute;
  z-index: 1050;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  width: 100% !important;
}

/* ❗ Drawer visible state: transform to 0% means slide in */
.rc-drawer-open .rc-drawer-content-wrapper {
  transform: translateX(0%);
}

.mobile-menu li>ul>li>div>a:before {
    content: "";
    height: 1px;
    background-color: var(--color-brand-dark);
    inset-inline-start: calc(var(--spacing)* 1);
    width: 7px;
    display: flex
;
    position: absolute;
    top: 50%;
}
.mobile-menu>li>div>a {
    padding-block: calc(var(--spacing)* 3);
    font-size: var(--text-15px);
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
}
.text-brand-dark {
    color: var(--color-brand-dark);
}
.mobile-menu li li {
    font-size: 14px;
    line-height: var(--tw-leading, var(--text-sm--line-height));
}

.drawer {
  position: fixed;
  z-index: 9999;
  transition: width 0s ease .3s, height 0s ease .3s, transform .3s cubic-bezier(.78, .14, .15, .86)
}

.drawer>* {
  transition: transform .3s cubic-bezier(.78, .14, .15, .86), opacity .3s cubic-bezier(.78, .14, .15, .86), box-shadow .3s cubic-bezier(.78, .14, .15, .86)
}

.drawer.drawer-open {
  transition: transform .3s cubic-bezier(.78, .14, .15, .86)
}

.drawer .drawer-mask {
  background: #000;
  opacity: 0;
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .3s cubic-bezier(.78, .14, .15, .86), height 0s ease .3s
}

.drawer-content-wrapper {
  position: absolute;
  background: #fff
}

.drawer-content {
  overflow: auto;
  z-index: 1;
  position: relative
}

.drawer-handle {
  position: absolute;
  top: 72px;
  width: 41px;
  height: 40px;
  cursor: pointer;
  z-index: 0;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff
}

.drawer-handle-icon {
  width: 14px;
  height: 2px;
  background: #333;
  position: relative;
  transition: background .3s cubic-bezier(.78, .14, .15, .86)
}

.drawer-handle-icon:after,
.drawer-handle-icon:before {
  content: "";
  display: block;
  position: absolute;
  background: #333;
  width: 100%;
  height: 2px;
  transition: transform .3s cubic-bezier(.78, .14, .15, .86)
}

.drawer-handle-icon:before {
  top: -5px
}

.drawer-handle-icon:after {
  top: 5px
}

.drawer-left,
.drawer-right {
  width: 0;
  height: 100%
}

.drawer-left .drawer-content,
.drawer-left .drawer-content-wrapper,
.drawer-right .drawer-content,
.drawer-right .drawer-content-wrapper {
  height: 100%
}

.drawer-left.drawer-open,
.drawer-right.drawer-open {
  width: 100%
}

.drawer-left.drawer-open.no-mask,
.drawer-right.drawer-open.no-mask {
  width: 0
}

.drawer-left {
  top: 0;
  left: 0
}

.drawer-left .drawer-handle {
  right: -40px;
  border-radius: 0 4px 4px 0
}

.drawer-left .drawer-handle,
.drawer-left.drawer-open .drawer-content-wrapper {
  box-shadow: 2px 0 8px rgba(0, 0, 0, .15)
}

.drawer-right {
  top: 0;
  right: 0
}

.drawer-right .drawer-content-wrapper {
  right: 0
}

.drawer-right .drawer-handle {
  left: -40px;
  border-radius: 4px 0 0 4px
}

.drawer-right .drawer-handle,
.drawer-right.drawer-open .drawer-content-wrapper {
  box-shadow: -2px 0 8px rgba(0, 0, 0, .15)
}

.drawer-right.drawer-open.no-mask {
  right: 1px;
  transform: translateX(1px)
}

.drawer-bottom,
.drawer-top {
  width: 100%;
  height: 0%
}

.drawer-bottom .drawer-content,
.drawer-bottom .drawer-content-wrapper,
.drawer-top .drawer-content,
.drawer-top .drawer-content-wrapper {
  width: 100%
}

.drawer-bottom .drawer-content,
.drawer-bottom.drawer-open,
.drawer-top .drawer-content,
.drawer-top.drawer-open {
  height: 100%
}

.drawer-bottom.drawer-open.no-mask,
.drawer-top.drawer-open.no-mask {
  height: 0%
}

.drawer-bottom .drawer-handle,
.drawer-top .drawer-handle {
  left: 50%;
  margin-left: -20px
}

.drawer-top {
  top: 0;
  left: 0
}

.drawer-top .drawer-handle {
  top: auto;
  bottom: -40px;
  border-radius: 0 0 4px 4px
}

.drawer-top .drawer-handle,
.drawer-top.drawer-open .drawer-content-wrapper {
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15)
}

.drawer-bottom {
  bottom: 0;
  left: 0
}

.drawer-bottom .drawer-content-wrapper {
  bottom: 0
}

.drawer-bottom .drawer-handle {
  top: -40px;
  border-radius: 4px 4px 0 0
}

.drawer-bottom .drawer-handle,
.drawer-bottom.drawer-open .drawer-content-wrapper {
  box-shadow: 0 -2px 8px rgba(0, 0, 0, .15)
}

.drawer-bottom.drawer-open.no-mask {
  bottom: 1px;
  transform: translateY(1px)
}

.drawer.drawer-open .drawer-mask {
  opacity: .3;
  height: 100%;
  transition: opacity .3s cubic-bezier(.78, .14, .15, .86)
}

.drawer.drawer-open .drawer-handle-icon {
  background: transparent
}

.drawer.drawer-open .drawer-handle-icon:before {
  transform: translateY(5px) rotate(45deg)
}

.drawer.drawer-open .drawer-handle-icon:after {
  transform: translateY(-5px) rotate(-45deg)
}

.drawer .drawer-content-wrapper {
  width: 100%
}

.drawer .drawer-mask {
  cursor: pointer
}

@media (min-width:500px) {
  .drawer .drawer-content-wrapper {
      width: 500px
  }
}


html.os-html,
html.os-html>.os-host {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
    margin: 0 !important;
    position: absolute !important
}

html.os-html>.os-host>.os-padding {
    position: absolute
}

body.os-dragging,
body.os-dragging * {
    cursor: default
}

.os-host,
.os-host-textarea {
    position: relative;
    overflow: visible !important;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start
}

.os-host-flexbox {
    overflow: hidden !important;
    display: flex
}

.os-host-flexbox>.os-size-auto-observer {
    height: inherit !important
}

.os-host-flexbox>.os-content-glue {
    flex-grow: 1;
    flex-shrink: 0
}

.os-host-flexbox>.os-content-glue,
.os-host-flexbox>.os-size-auto-observer {
    min-height: 0;
    min-width: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto
}

#os-dummy-scrollbar-size {
    position: fixed;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    overflow: scroll;
    height: 500px;
    width: 500px
}

#os-dummy-scrollbar-size>div {
    width: 200%;
    height: 200%;
    margin: 10px 0
}

#os-dummy-scrollbar-size:after,
#os-dummy-scrollbar-size:before,
.os-content:after,
.os-content:before {
    content: "";
    display: table;
    width: .01px;
    height: .01px;
    line-height: 0;
    font-size: 0;
    flex-grow: 0;
    flex-shrink: 0;
    visibility: hidden
}

#os-dummy-scrollbar-size,
.os-viewport {
    -ms-overflow-style: scrollbar !important
}

.os-viewport-native-scrollbars-invisible#os-dummy-scrollbar-size,
.os-viewport-native-scrollbars-invisible.os-viewport {
    scrollbar-width: none !important
}

.os-viewport-native-scrollbars-invisible#os-dummy-scrollbar-size::-webkit-scrollbar,
.os-viewport-native-scrollbars-invisible#os-dummy-scrollbar-size::-webkit-scrollbar-corner,
.os-viewport-native-scrollbars-invisible.os-viewport::-webkit-scrollbar,
.os-viewport-native-scrollbars-invisible.os-viewport::-webkit-scrollbar-corner {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    visibility: hidden !important;
    background: transparent !important
}

.os-content-glue {
    box-sizing: inherit;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    pointer-events: none
}

.os-padding {
    box-sizing: inherit;
    direction: inherit;
    position: absolute;
    overflow: visible;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto !important;
    height: auto !important;
    z-index: 0
}

.os-host-overflow>.os-padding,
.os-viewport {
    overflow: hidden
}

.os-viewport {
    direction: inherit !important;
    box-sizing: inherit !important;
    resize: none !important;
    outline: none !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch
}

.os-content-arrange {
    position: absolute;
    z-index: -1;
    min-height: 1px;
    min-width: 1px;
    pointer-events: none
}

.os-content {
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    visibility: visible
}

.os-content>.os-textarea {
    box-sizing: border-box !important;
    direction: inherit !important;
    background: transparent !important;
    outline: 0 none transparent !important;
    overflow: hidden !important;
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    float: none !important;
    filter: none !important;
    border: none !important;
    resize: none !important;
    transform: none !important;
    max-width: none !important;
    max-height: none !important;
    box-shadow: none !important;
    perspective: none !important;
    opacity: 1 !important;
    z-index: 1 !important;
    clip: auto !important;
    vertical-align: baseline !important;
    padding: 0
}

.os-host-rtl>.os-padding>.os-viewport>.os-content>.os-textarea {
    right: 0 !important
}

.os-content>.os-textarea-cover {
    z-index: -1;
    pointer-events: none
}

.os-content>.os-textarea[wrap=off] {
    white-space: pre !important;
    margin: 0 !important
}

.os-text-inherit {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-variant: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    text-indent: inherit;
    text-align: inherit;
    text-shadow: inherit;
    text-overflow: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    line-height: inherit;
    unicode-bidi: inherit;
    direction: inherit;
    color: inherit;
    cursor: text
}

.os-resize-observer,
.os-resize-observer-host {
    box-sizing: inherit;
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1
}

.os-resize-observer-host {
    padding: inherit;
    border: inherit;
    border-color: transparent;
    border-style: solid;
    box-sizing: border-box
}

.os-resize-observer-host.observed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

.os-resize-observer-host.observed>.os-resize-observer,
.os-resize-observer-host>.os-resize-observer {
    height: 200%;
    width: 200%;
    padding: inherit;
    border: inherit;
    margin: 0;
    display: block;
    box-sizing: content-box
}

.os-resize-observer-host.observed>.os-resize-observer,
.os-resize-observer-host.observed>.os-resize-observer:before {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    box-sizing: border-box
}

.os-resize-observer-host.observed>.os-resize-observer:before {
    content: "";
    box-sizing: content-box;
    padding: inherit;
    border: inherit;
    margin: 0
}

.os-size-auto-observer {
    box-sizing: inherit !important;
    height: 100%;
    width: inherit;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    flex-grow: inherit;
    flex-shrink: 0;
    flex-basis: 0
}

.os-size-auto-observer>.os-resize-observer {
    width: 1000%;
    height: 1000%;
    min-height: 1px;
    min-width: 1px
}

.os-resize-observer-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    direction: ltr !important;
    flex: none !important
}

.os-resize-observer-item-final {
    position: absolute;
    left: 0;
    top: 0;
    transition: none !important;
    flex: none !important
}

.os-resize-observer {
    -webkit-animation-duration: 1ms;
    animation-duration: 1ms;
    -webkit-animation-name: os-resize-observer-dummy-animation;
    animation-name: os-resize-observer-dummy-animation
}

object.os-resize-observer {
    box-sizing: border-box !important
}

@-webkit-keyframes os-resize-observer-dummy-animation {
    0% {
        z-index: 0
    }
    to {
        z-index: -1
    }
}

@keyframes os-resize-observer-dummy-animation {
    0% {
        z-index: 0
    }
    to {
        z-index: -1
    }
}

.os-host-transition>.os-scrollbar,
.os-host-transition>.os-scrollbar-corner {
    transition: opacity .3s, visibility .3s, top .3s, right .3s, bottom .3s, left .3s
}

html.os-html>.os-host>.os-scrollbar {
    position: absolute;
    z-index: 999999
}

.os-scrollbar,
.os-scrollbar-corner {
    position: absolute;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 1
}

.os-scrollbar-corner {
    bottom: 0;
    right: 0
}

.os-scrollbar {
    pointer-events: none
}

.os-scrollbar-track {
    position: relative;
    padding: 0 !important;
    border: none !important
}

.os-scrollbar-handle,
.os-scrollbar-track {
    pointer-events: auto;
    height: 100%;
    width: 100%
}

.os-scrollbar-handle {
    position: absolute
}

.os-scrollbar-handle-off,
.os-scrollbar-track-off {
    pointer-events: none
}

.os-scrollbar.os-scrollbar-unusable,
.os-scrollbar.os-scrollbar-unusable * {
    pointer-events: none !important
}

.os-scrollbar.os-scrollbar-unusable .os-scrollbar-handle {
    opacity: 0 !important
}

.os-scrollbar-horizontal {
    bottom: 0;
    left: 0
}

.os-scrollbar-vertical {
    top: 0;
    right: 0
}

.os-host-rtl>.os-scrollbar-horizontal {
    right: 0
}

.os-host-rtl>.os-scrollbar-corner,
.os-host-rtl>.os-scrollbar-vertical {
    right: auto;
    left: 0
}

.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-corner,
.os-host-resize-disabled.os-host-scrollbar-vertical-hidden>.os-scrollbar-corner,
.os-host-scrollbar-horizontal-hidden>.os-scrollbar-horizontal,
.os-host-scrollbar-vertical-hidden>.os-scrollbar-vertical,
.os-padding+.os-scrollbar-corner,
.os-scrollbar-auto-hidden,
.os-scrollbar-horizontal+.os-scrollbar-vertical.os-scrollbar-auto-hidden+.os-scrollbar-corner,
.os-scrollbar-horizontal.os-scrollbar-auto-hidden+.os-scrollbar-vertical+.os-scrollbar-corner,
.os-scrollbar-horizontal.os-scrollbar-auto-hidden+.os-scrollbar-vertical.os-scrollbar-auto-hidden+.os-scrollbar-corner {
    opacity: 0;
    visibility: hidden;
    pointer-events: none
}

.os-scrollbar-corner-resize-both {
    cursor: nwse-resize
}

.os-host-rtl>.os-scrollbar-corner-resize-both {
    cursor: nesw-resize
}

.os-scrollbar-corner-resize-horizontal {
    cursor: ew-resize
}

.os-scrollbar-corner-resize-vertical {
    cursor: ns-resize
}

.os-dragging .os-scrollbar-corner.os-scrollbar-corner-resize {
    cursor: default
}

.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-vertical {
    top: 0;
    bottom: 0
}

.os-host-resize-disabled.os-host-scrollbar-vertical-hidden>.os-scrollbar-horizontal,
.os-host-rtl.os-host-resize-disabled.os-host-scrollbar-vertical-hidden>.os-scrollbar-horizontal {
    right: 0;
    left: 0
}

.os-scrollbar-corner.os-scrollbar-corner-resize,
.os-scrollbar:hover {
    opacity: 1 !important;
    visibility: visible !important
}



.os-host-rtl>.os-scrollbar-corner.os-scrollbar-corner-resize {
    transform: scaleX(-1)
}

.os-host-overflow {
    overflow: hidden !important
}

.os-theme-none>.os-scrollbar-corner,
.os-theme-none>.os-scrollbar-horizontal,
.os-theme-none>.os-scrollbar-vertical {
    display: none !important
}

.os-theme-none>.os-scrollbar-corner-resize {
    display: block !important;
    min-width: 10px;
    min-height: 10px
}

.os-theme-dark>.os-scrollbar-horizontal,
.os-theme-light>.os-scrollbar-horizontal {
    right: 10px;
    height: 10px
}

.os-theme-dark>.os-scrollbar-vertical,
.os-theme-light>.os-scrollbar-vertical {
    bottom: 10px;
    width: 10px
}

.os-theme-dark.os-host-rtl>.os-scrollbar-horizontal,
.os-theme-light.os-host-rtl>.os-scrollbar-horizontal {
    left: 10px;
    right: 0
}

.os-theme-dark>.os-scrollbar-corner,
.os-theme-light>.os-scrollbar-corner {
    height: 10px;
    width: 10px;
    background-color: transparent
}

.os-theme-dark>.os-scrollbar,
.os-theme-light>.os-scrollbar {
    padding: 2px;
    box-sizing: border-box;
    background: transparent
}

.os-theme-dark>.os-scrollbar.os-scrollbar-unusable,
.os-theme-dark>.os-scrollbar>.os-scrollbar-track,
.os-theme-light>.os-scrollbar.os-scrollbar-unusable,
.os-theme-light>.os-scrollbar>.os-scrollbar-track {
    background: transparent
}

.os-theme-dark>.os-scrollbar-horizontal>.os-scrollbar-track>.os-scrollbar-handle,
.os-theme-light>.os-scrollbar-horizontal>.os-scrollbar-track>.os-scrollbar-handle {
    min-width: 30px
}

.os-theme-dark>.os-scrollbar-vertical>.os-scrollbar-track>.os-scrollbar-handle,
.os-theme-light>.os-scrollbar-vertical>.os-scrollbar-track>.os-scrollbar-handle {
    min-height: 30px
}

.os-theme-dark.os-host-transition>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
.os-theme-light.os-host-transition>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    transition: background-color .3s
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track,
.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
.os-theme-light>.os-scrollbar>.os-scrollbar-track,
.os-theme-light>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    border-radius: 10px
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    background: rgba(0, 0, 0, .4)
}

.os-theme-light>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    background: hsla(0, 0%, 100%, .4)
}

.os-theme-dark>.os-scrollbar:hover>.os-scrollbar-track>.os-scrollbar-handle {
    background: rgba(0, 0, 0, .55)
}

.os-theme-light>.os-scrollbar:hover>.os-scrollbar-track>.os-scrollbar-handle {
    background: hsla(0, 0%, 100%, .55)
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle.active {
    background: rgba(0, 0, 0, .7)
}

.os-theme-light>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle.active {
    background: hsla(0, 0%, 100%, .7)
}

.os-theme-dark>.os-scrollbar-horizontal .os-scrollbar-handle:before,
.os-theme-dark>.os-scrollbar-vertical .os-scrollbar-handle:before,
.os-theme-light>.os-scrollbar-horizontal .os-scrollbar-handle:before,
.os-theme-light>.os-scrollbar-vertical .os-scrollbar-handle:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block
}

.os-theme-dark.os-host-scrollbar-horizontal-hidden>.os-scrollbar-horizontal .os-scrollbar-handle:before,
.os-theme-dark.os-host-scrollbar-vertical-hidden>.os-scrollbar-vertical .os-scrollbar-handle:before,
.os-theme-light.os-host-scrollbar-horizontal-hidden>.os-scrollbar-horizontal .os-scrollbar-handle:before,
.os-theme-light.os-host-scrollbar-vertical-hidden>.os-scrollbar-vertical .os-scrollbar-handle:before {
    display: none
}

.os-theme-dark>.os-scrollbar-horizontal .os-scrollbar-handle:before,
.os-theme-light>.os-scrollbar-horizontal .os-scrollbar-handle:before {
    top: -6px;
    bottom: -2px
}

.os-theme-dark>.os-scrollbar-vertical .os-scrollbar-handle:before,
.os-theme-light>.os-scrollbar-vertical .os-scrollbar-handle:before {
    left: -6px;
    right: -2px
}

.os-host-rtl.os-theme-dark>.os-scrollbar-vertical .os-scrollbar-handle:before,
.os-host-rtl.os-theme-light>.os-scrollbar-vertical .os-scrollbar-handle:before {
    right: -6px;
    left: -2px
}

